[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
azure-storage-blob = "*"
beautifulsoup4 = "*"
pandas = "*"
Pipfile = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
